
.login-screen{
	padding: 70px 40px;
    width: 50%;
    background: rgba(255,255,255,.8);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inner-screen{
    padding: 70px 40px;
    background: rgba(255,255,255,.8);
    border-radius: 5px;
}
body,html {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e1ffff+0,b1d8f5+100 */
background: #e1ffff; /* Old browsers */
background: -moz-linear-gradient(top,  #e1ffff 0%, #b1d8f5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e1ffff 0%,#b1d8f5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e1ffff 0%,#b1d8f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 ); /* IE6-9 */

}
input[type="submit"] {
    background-color: #b1d8f5;
    border: 1px solid;
    padding: 12px 70px;
    text-transform: uppercase;
    border-radius: 2px;
    font-weight: 500;
    margin-top: 40px;
}
input[type="submit"]:hover {
    background: #f1f1f1;
}
div#header {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
    width: 50%;
    margin: 0 auto;
}